{{!--
<div class="card">
  this.name
</div> --}}


<div class="card" style="width: 33.333%;">
  <img class="card-img-top" src="{{image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5>{{name}}</h5>
    <h6>{{tagline}}</h6>
    <p class="card-text">{{description}}</p>
  </div>
</div>